{{ partial "subscribeForm.html" . }}

<div class="header footer wrapper">
	<div class="site-description">
		<div>{{ dateFormat "2006" now }} {{ with .Site.Copyright }} {{ . | safeHTML }} {{ end }} </div>	
		<nav class="nav social">
			<ul class="flat">
				{{- range $index, $key := .Site.Params.Social -}}
					<li><a href="{{ $key.url }}" title="{{ $key.name }}" target="_blank"><i data-feather="{{ $key.icon }}"></i></a></li>
				{{- end -}}
		    {{- if or (eq .Site.Params.mode "auto") (eq .Site.Params.mode "dark") -}}
		    	<li><a href="#" class="scheme-toggle" id="scheme-toggle"></a></li>
		    {{- end -}}
			</ul>
		</nav>
	</div>
</div>

{{ template "_internal/google_analytics_async.html" . }}
{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
{{- end -}}
