<!-- Trigger/Open The Modal -->
<button id="subscribeButton" onclick="showModal(event)">
   <div style="padding-right: 5px;">
      Subscribe
   </div>
   <i data-feather="mail"></i>
</button>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="wrapper modal-content">
      <span class="close">&times;</span>
      <div id="subscribeModalBody">
         <h1 id="subscribeModalTitle">Register For Email Updates</h1>
         <p id="subscribeModalMessage">
            Sign up to receive email updates whenever I release a new blog post. I promise to take your privacy seriously.
         </p>
         <!-- Copy all changes in this form to subscribeForm.html-->
         <form action="https://ucla.us14.list-manage.com/subscribe/post?u=cf236e6e258cc2e14b7aaa3e2&amp;id=32a9266784" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" style="display: flex; justify-content: center;" novalidate>
            <div id="subscribeModalFormContent">
               <input class="subscribeModalEmail" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email Address" required>
               <input class="submitEmailButton" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
            </div>
         </form> 
      </div> 
  </div>

</div>